[submodule "third_party/llama.cpp"]
	path = third_party/llama.cpp
	url = https://github.com/ggerganov/llama.cpp.git
[submodule "src/third_party/llama.cpp"]
	path = src/third_party/llama.cpp
	url = https://github.com/ggerganov/llama.cpp.git
